<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница человека</title>
</head>
<body>


<p th:text="${person.getName()+ ', ' + person.getBirthdate()}">user</p>

<p th:text="${books.isEmpty()} ? 'Человек не взял ни одной книги' : 'Книги:'">value</p>
<div th:each="book : ${books}">
    <p th:style="${book.isOverdue()} ? 'color:red;' : 'color:black;'"
            th:text="${book.getTitle()+', '+book.getAuthor()+', '+book.getYear()}"></p>

</div>

<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать">
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="удалить">
</form>

<!--<a th:href="@{/people/{id}/edit(id=${person.getOwner_name()})}">Редактировать</a>-->
</body>
</html>